<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

       
        <p>I’m currently pursuing my Google Cybersecurity Professional Certificate, gaining hands-on experience in threat detection, security event analysis, and incident response using tools like SIEM, Wireshark, Splunk, Linux, and Python. My goal is to transition into an entry-level cybersecurity analyst role, leveraging both my technical training and my strong problem-solving, analytical, and leadership skills. With a background in sales, management, and entrepreneurship, I’ve developed a keen ability to adapt, optimize technology, and manage risks. In my last position, I implemented a CRM system to improve efficiency and handled sensitive client data, reinforcing my understanding of security, privacy, and compliance. As I continue my cybersecurity journey, I’m excited to apply my skills to protect digital assets, mitigate threats, and add value to any organization I join.</p>
        
        <!-- This skills section already matches your resume, so no need to edit these unless you have more to add. Remember, these should be your TOP skills, not every skill! -->
        <h3>Skills & Expertise</h3>
          <p><strong>Languages:</strong> Python, SQL (BigQuery, MySQL)<br>
              <strong>Tools:</strong> Linux, Windows, SIEM (Splunk), Network Protocol Analyzers (WireShark, Tcpdump, Nmap), IDS/IPS (Suricata)<br>
              <strong>Security Practices:</strong> Information Security, Network Security (NDR), Vulnerability Assessment, Threat Analysis (IDS/IPS), Log Analysis, Security Frameworks and Controls (NIST)<br>
              <strong>Software Platforms:</strong> Google Workspace, Microsoft Suite, Slack, ChatGPT<br>
              <strong>Strengths:</strong> Problem-Solving, Collaboration, Attention to Detail, Calmness Under Pressure <br></p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">

        
        <a href="https://drive.google.com/file/d/1JCioVyRX8kKlfJxUGUpoj-TziDhhlxVH/view?usp=sharing" class="btn btn-lg btn-outline resume-button">
          View Resume
        
        </a>
      </div>
    </div>
  </div>
</section>
